#container.clear
  section#slider
    = image_tag "home/banner.gif"
  section#shout
    h1 PokéAgenda
    p Projeto PokéAgenda: Um repositório da localização de 'nests' do aplicativo mobile Pokemón Go da Niantic. A PokéAgenda será um website onde usuários poderão consultar a localização dos 'nests' e quais pokémons aparecem neles, assim como adicionar comentários e avaliar a informação disponível sobre cada 'nest'.
  #content
    section
      article
        h2 Links
        p
          = link_to "Travis", "https://travis-ci.org/stat2008/Engenharia-de-Software.svg?branch=master"
        p
          = link_to "CodeClimate", "https://codeclimate.com/repos/57cb3b2e1ebccb7b280007c1/feed"
        p
          = link_to "PivotalTracker", "https://www.pivotaltracker.com/n/projects/1862743"
        p
          = link_to "Heroku", "http://engenhariadesoftware.herokuapp.com"
        p
          = link_to "GitHub", "https://github.com/stat2008/Engenharia-de-Software"
